
@{
    ViewBag.Title = "References";
}

<h2>References</h2>

<h3 style="color:blue;"><b><u>References</u></b></h3>
<br />

<h4>@ViewBag.Name1</h4>
      <p span style="color:blue"><u>@ViewBag.Email1</u></p>
<h4>@ViewBag.Name2</h4>
       <p span style="color:blue"><u>@ViewBag.Email2</u></p>

